/* =====================================★전체 공통 디자인★ */
#wrap {}
#wrap .container {
    background-position:center;
    background-size:cover;
}
#wrap .container .contents {
    max-width:1250px; min-width:320px;
    margin:0 auto;
}
#wrap .container .main_title { /*대제목 70 스타일*/
    font-size:4.38rem; color:#fff;
    text-align:center; line-height:1.3; letter-spacing:-0.02em;
}
#wrap .container .main_title span {font-weight:700;}
#wrap .container h2 {
    font-size:3.44rem; font-weight:500; letter-spacing:-0.01em;
    line-height:1.2;
}
#wrap .container .sponsor_btn {
    background:linear-gradient(90deg, #FE9300, #FF7300);
    color:#fff; border-radius:50px; padding:15px 70px;
    font-size:2.13rem; line-height:1.2; font-weight:700;
}
#wrap .container .sponsor_btn:hover {
    background:linear-gradient(-90deg, #FE9300, #FF7300);
}
#wrap .container .sponsor_btn img {
    width:32px; position:relative; top:3px;
}
#wrap .container .sponsor_q_btn {
    border-radius:30px;
    padding:10px 30px;
    background-color:#000; color:#fff;
    font-size:1.63rem; line-height:1.2;
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap .container .sponsor_q_btn:hover {box-shadow:0 5px 10px rgba(255,255,255,0.5);}
#wrap .container .sponsor_q_btn img {width:24px;}
#wrap .container .sponsor_q_btn img:first-child {margin-right:10px;}
#wrap .container .sponsor_q_btn img:last-child {margin-left:10px;}
/* =====================================1행 제목+후원 */
#wrap .bg1 {
    background-image:url(../images/bg1.png);
    background-attachment:fixed; /*기본값 scroll*/
}
#wrap .bg1 .gradient {
    /* background:linear-gradient(각도deg, 색상, 색상 색상위치%, 색상) */
    background:linear-gradient(transparent, rgba(0,0,0,0.6) 69%);
}
#wrap .bg1 .gradient .contents {
    height:150vh;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}
#wrap .bg1 .gradient .contents > * {margin-bottom:100px;}
#wrap .bg1 .gradient .contents h1:nth-child(1) {align-self:flex-start; width:89px;}
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) a img {width:100%;}
#wrap .bg1 .gradient .contents h1:nth-child(2) {}
#wrap .bg1 .gradient .contents h1:nth-child(2) span {}
#wrap .bg1 .gradient .contents .sponsor_btn {}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:flex-end; margin:0;}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:first-child {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:last-child {}
/* =====================================2행 퀴즈+참여 */
#wrap .bg2 {
    background-image:url(../images/quiz_bg.png);
    padding:150px 0;
}
#wrap .bg2 .contents {display:flex; justify-content:space-between;}
#wrap .bg2 .contents .quiz_contents {}
#wrap .bg2 .contents .quiz_contents h2 {
    color:#fff;
    margin:0 0 38px 206px;
}
#wrap .bg2 .contents .quiz_contents p {
    font-size:1.25rem; color:#fff; line-height:1.7;
    margin-bottom:8px;
}
#wrap .bg2 .contents .quiz_contents form {
    display:flex; flex-flow:column nowrap;
}
#wrap .bg2 .contents .quiz_contents form label {
    height:34px; margin-bottom:14px;
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz] {}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {
    /* input이 비활성화 됐을 때 */
    background-image:url(../images/quiz_icon_off.png);
    /* background-image외 repeat, position, size 등 속성은 비활성화쪽에 작성 */
    background-repeat:no-repeat;
    background-position-y:2.5px;
    /* 이미지와 안겹치게 하는 속성 */
    padding-left:48px; height:100%;
    /* 글자속성 */
    font-size:1.25rem; line-height:1.7; color:#fff;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]:checked+span {
    /* input:checked 활성화 됐을 때 */
    background-image:url(../images/quiz_icon_on.png);
}
#wrap .bg2 .contents .quiz_contents form .answer_btn {
    background:#050505; color:#fff;
    font-size:1.25rem; line-height:1.7;
    border-radius:50px; padding:10px 0; 
    width:450px;
}
#wrap .bg2 .contents .quiz_contents form .answer_btn:hover {
    box-shadow:0 0 5px rgba(255,255,255,0.3);
}
#wrap .bg2 .contents .quiz_status {}
#wrap .bg2 .contents .quiz_status img {width:500px;}
#wrap .bg2 .contents .quiz_status span {
    display:block; text-align:right; margin-top:20px;
    font-size:1.25rem; line-height:1.7; color:#fff;
}
/* =====================================3행 동영상 */
#wrap .bg3 {
    background-image:url(../images/video_bg.png);
    padding:200px 0;
}
#wrap .bg3 .contents {
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap .bg3 .contents h2 {text-align:center;}
#wrap .bg3 .contents iframe {max-width:900px; width:100%; margin:70px 0;}
#wrap .bg3 .contents .sponsor_btn {}
/* =====================================4행 빙하 50% 감소 */
/* =====================================6행 지구전체위기 */
#wrap .bg4,
#wrap .bg6 {
    background-image:url(../images/50_bg.png);
    padding:200px 0;
}
#wrap .bg4 .contents,
#wrap .bg6 .contents {}
#wrap .bg4 .contents h2,
#wrap .bg6 .contents h2 {color:#fff;}
#wrap .bg4 .contents h2 span,
#wrap .bg6 .contents h2 span {
    background-color:#fff; color:#000;
    display:inline-block; padding:2px 0;
}
#wrap .bg4 .contents h2+p,
#wrap .bg6 .contents h2+p {
    color:#fff; margin:81px 0;
    font-size:2.13rem; line-height:1.2; font-weight:700;
}
#wrap .bg4 .contents .img,
#wrap .bg6 .contents .img {}
#wrap .bg4 .contents .img img,
#wrap .bg6 .contents .img img {width:100%;}
/* =====================================5행 인류재앙3 */
#wrap .bg5 {background-color:#f5f5f5; padding:200px 0;}
#wrap .bg5 .contents {text-align:center;}
#wrap .bg5 .contents h2 {}
#wrap .bg5 .contents > p {margin:55px 0; font-size:1.25rem; line-height:1.7;}
#wrap .bg5 .contents ul {
    display:flex; flex-flow:row nowrap; justify-content: space-between;
}
#wrap .bg5 .contents ul li {
    width:calc((100% - (20px * 2)) / 3);
}
#wrap .bg5 .contents ul li .title {
    position:relative; height:320px;
    background-size:cover;
    background-position:center 50%;
}
#wrap .bg5 .contents ul li:nth-child(1) .title {
    background-image:url(../images/27.png);
}
#wrap .bg5 .contents ul li:nth-child(2) .title {
    background-image:url(../images/28.png);
}
#wrap .bg5 .contents ul li:nth-child(3) .title {
    background-image:url(../images/wwf.jpg);
}
#wrap .bg5 .contents ul li .title::after {
    content:''; display:block; 
    position:absolute; left:0; top:0; width:100%; height:100%;
    background:linear-gradient(360deg, transparent, rgba(0,0,0,0.8) 60%);
    z-index:40;
}
#wrap .bg5 .contents ul li .title * {
    color:#fff; position:relative; z-index:50;
    text-align:center;
}
#wrap .bg5 .contents ul li .title h3 {
    font-size:2.69rem; font-weight:700; line-height:1.2;
    padding-top:48px;
}
#wrap .bg5 .contents ul li .title p {
    font-size:1.25rem; line-height:1.7;
}
#wrap .bg5 .contents ul li .content {
    background-color:#fff; height:250px;
    font-size:1.25rem; line-height:1.7; padding:20px;
}
/* =====================================7행 WWF소개 */
#wrap .bg7 {
    background-image:url(../images/wwf.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    position:relative;
}
#wrap .bg7 .contents {text-align: center;}
#wrap .bg7 .contents >* {
    position:relative; z-index:50;
    margin-bottom: 80px;
}
#wrap .bg7::after {
    content:''; display:block; 
    position:absolute; top:0; left: 0; width:100%; height:100%;
    background-color: rgba(255,255,255,0.8);
    z-index:40;
}
#wrap .bg7 .contents .main_title {}
#wrap .bg7 .contents .main_title span {color: #000;}
#wrap .bg7 .contents p {
    font-size:2.13rem; line-height: 1.5;
}
#wrap .bg7 .contents p:nth-of-type(1) {}
#wrap .bg7 .contents p:nth-of-type(2) {margin-bottom: 0;}

/* =====================================8행 다양한활동 */
#wrap .bg8 {background-color: #f5f5f5;}
#wrap .bg8 .contents {padding:200px 0;}
#wrap .bg8 .contents h2 {
    text-align: center; margin-bottom: 83px;
}
#wrap .bg8 .contents .activity {
    
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap .bg8 .contents .activity li {
    width: calc((100% - 40px) / 2);
}   
#wrap .bg8 .contents .activity li:first-child {} 
#wrap .bg8 .contents .activity li:last-child, .list1, .list2 {
    background-size: cover;
    background-position: center;
    position: relative;
}
#wrap .bg8 .contents .activity li:last-child {
    background-image:url(../images/50.png);
}   
#wrap .bg8 .contents .activity li .list1 {
    background-image:url(../images/28.png);
    background-position-y: 35%;
    height: 300px;
    margin-bottom: 22px;
}    
#wrap .bg8 .contents .activity li .list1 .text {}    
#wrap .bg8 .contents .activity li .list1 .text h3 {}    
#wrap .bg8 .contents .activity li .list1 .text p {}    
#wrap .bg8 .contents .activity li .list2 {
    background-image:url(../images/wwf.jpg);
    height: 300px;
}    
#wrap .bg8 .contents .activity li .list2 .text {}    
#wrap .bg8 .contents .activity li .list2 .text h3 {}    
#wrap .bg8 .contents .activity li .list2 .text p {}    
#wrap .bg8 .contents .activity li .text {
    background-color: rgba(5,5,5,0.5);
    color: #fff;
    padding: 20px;
    position: absolute; bottom: 22px; left: 0;
    display: inline-block; width: 50%;
}    
#wrap .bg8 .contents .activity li .text h3 {
    margin-bottom: 18px;
    font-size:2.13rem; line-height:1.2; font-weight:700;
}    
#wrap .bg8 .contents .activity li .text p {
    white-space: normal;
    font-size:1.25rem; line-height:1.7;
} 
/* =====================================9행 감사선물 */
#wrap .bg9 {
    background-image: url(../images/50_bg.png);
    padding:200px 0;
}
#wrap .bg9 .contents {color: #fff;}
#wrap .bg9 .contents .title {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
#wrap .bg9 .contents .title h2 {}
#wrap .bg9 .contents .title .sponsor_btn {}
#wrap .bg9 .contents .title .sponsor_btn img {}
#wrap .bg9 .contents .goods_list {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin: 69px 0;
}
#wrap .bg9 .contents .goods_list li {
    display: flex; flex-flow: column nowrap;
    width: calc((100% - (45px * 2)) / 3); 
    
}
#wrap .bg9 .contents .goods_list li::before {
    content:''; display:block; 
    width: 100%; height: 300px;
    background-size: cover; background-position: center;
    margin-bottom: 13px;
}
#wrap .bg9 .contents .goods_list li:nth-child(1)::before {background-image: url(../images/freebie2.jpg);}
#wrap .bg9 .contents .goods_list li:nth-child(2)::before {background-image: url(../images/freebie1.jpg);}
#wrap .bg9 .contents .goods_list li:nth-child(3)::before {background-image: url(../images/freebie3.jpg);}
#wrap .bg9 .contents .goods_list li .text{
    background-color: dimgray;
    width: 100%;
}
#wrap .bg9 .contents .goods_list li .text p {text-align: center; font-size:1.25rem; line-height:1.7;}
#wrap .bg9 .contents .goods_list li .text p:first-child{}
#wrap .bg9 .contents .goods_list li .text p:last-child{}
#wrap .bg9 .contents .benefit {
    background-color: #fff; color: #050505;
    font-size:1.25rem; line-height:1.7;
    display: inline-block;    
    float: right;
}
/* =====================================10행 안내사항 */
#wrap .bg10 {background-color: #E4E5EA; padding: 100px 0;}
#wrap .bg10 .contents {}
#wrap .bg10 .contents h3 {font-size:2.13rem; line-height:1.2; font-weight:700;}
#wrap .bg10 .contents ul {}
#wrap .bg10 .contents ul li {font-size:1.25rem; line-height:1.7;}